@tailwind base;
@tailwind components;
@tailwind utilities;

/* DropDown */
.mainmenu .submenu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.mainmenu:hover .submenu {
  opacity: 1;
  visibility: visible;
}

.speech-bubble {
  position: absolute;
  border-radius: 0.4em;
  background-color: #f0f0f0;
  margin-left: 50px;
  margin-top: -100px;
  padding: 80px;
  white-space: nowrap;
  width: 300px;
  height: 400px;
  overflow: auto;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dark .speech-bubble {
  background-color: #475569;
}

.dark .speech-bubble:after {
  border-bottom-color: #475569;
}
/* DropDown */

/* DarkMode */
.bg-darkMode {
  @apply bg-white dark:bg-black;
}

.btn-project {
  @apply inline-flex text-white dark:text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg;
}

.project-card {
  @apply flex flex-col m-3 rounded-xl w-full
              transition duration-300 transform border border-gray-300
              hover:scale-105
              hover:shadow-lg
              dark:border-gray-200/50
              dark:hover:shadow-gray-400/40
  
              hover:text-blue-600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-slate-900 dark:text-white;
}

footer {
  @apply text-gray-600 dark:text-white;
}

.dark {
  color: white;
}

a {
  @apply text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-50;
}

p {
  @apply text-slate-500 dark:text-slate-400;
}
/* DarkMode */

/* Main Folder */
.item {
  position: absolute;
  font-size: 2em;
}

.item-a {
  bottom: 50%;
  left: 47%;
}

.folder-aboutMe {
  right: 22%;
  top: 50%;
}

.folder-contact {
  bottom: 25%;
  left: 28%;
}

.folder-project {
  top: 17%;
  left: 32%;
}
/* Main Folder */

/* Header Footer Fixed */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.main-content {
  margin-top: 0px;
  margin-bottom: 0px;
  overflow-y: auto;
}
/* Header Footer Fixed */

/* Font */
@font-face {
  font-family: "Orbit-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.Orbit {
  font-family: "Orbit-Regular";
}
/* Font */
